<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	<parameter name="browserName" value="chrome"></parameter>
    <classes>
      <class name="com.SauceDemo.TestClasses.TC06_FilterFunctionality"/>
      <class name="com.SauceDemo.TestClasses.TC02_AboutPage"/>
      <class name="com.SauceDemo.TestClasses.TC09_BuyProduct"/>
      <class name="com.SauceDemo.TestClasses.TC08_ProceedCheckout"/>
      <class name="com.SauceDemo.TestClasses.TC04_MultipleProduct"/>
      <class name="com.SauceDemo.TestClasses.TC01_LoginFunctionality"/>
      <class name="com.SauceDemo.TestClasses.TC03_SingleProduct"/>
      <class name="com.SauceDemo.TestClasses.TC07_AddToCart"/>
      <class name="com.SauceDemo.TestClasses.TC05_LogoutFunctionality"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
